// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass files.

// Check documentation for full list of Quasar variables

// [THIS IS THE FIX]
// This is the most important part. We are telling Quasar that the
// entire application should be in DARK MODE by default.
$dark-page: #0d1a26;
$dark:      #0d1a26; // Setting the dark mode variable

// [THIS IS THE FIX]
// Define our primary color for the glowing blue effect
$primary: #00b8ff;

// You can also define other colors if you need them
// $secondary: #26A69A;
// $accent:    #9C27B0;
// $positive:  #21BA45;
// $negative:  #C10015;
// $info:      #31CCEC;
// $warning:   #F2C037;
